<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Calender</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sp-menu">
      <h2><%= link_to "ホームに戻る", root_path %></h2>
      <ul>
        <li><%= link_to "予定を追加する", new_blog_path %></li>
        <li><%= link_to "本の感想を書く", new_output_path %></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

    <%= yield %>
  </body>
</html>
